/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

.container {
  width: 95%;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  width: 95%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../img/values-bg.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../img/values-bg.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description {
  margin-bottom: 4rem;
}

@media (max-width:550px) {
  .main-line {
    width: 100%;
    display: block;
    text-align: center;
  }
}
/* Bigger than 550 */
@media (min-width: 550px) {


  .section {
    padding: 14rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    width: 95%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 14rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
}


html {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/img/background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: whitesmoke;
}

@media (max-width: 850px) {
  html {
    background-size: 1080px 750px;
  }
}

.inline {
  display: inline-block;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
}

.top {
  position: absolute;
  top: 20px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

#count {
  width: 45px;
}

#role {
  width: 200px;
}

#focus {
  width: 300px;
  padding-left: 5px;
}
.options {
  font-weight: bold;
  display: inline-block;
  text-align: center;
}

.inline {
  font-size: 1.2em;
}

.action {
  margin-top: 5rem;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 25px;
  background-color: black;
  color: whitesmoke;
  padding: 1rem;
}

.header > h1 {
  font-size: 1.4em;
}

.subtext {
  font-size: 1.1em;
}

.signup {
  width: 300px;
  margin: 0 auto;
}

.signup > input {
  width: 100%;
  color: black;
}

span.little-text {
  vertical-align: sub;
  font-size: 0.6em;
  padding-right: 5px;
}

.price-middle {
  padding: 0px 5px;
}
